<a href="https://colab.research.google.com/github/jonasfiorini/Machine-Learning-Introduction/blob/master/Projeto02/Alura_ML_Classification_Project_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [13]:
mapa = {
    "home": "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [15]:
x = dados[["principal", "como_funciona", "contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [16]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [17]:
dados.shape

(99, 4)

In [22]:
#Separar em 25% pra teste e 75% pra treino
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [26]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % taxa_de_acerto)

A acurácia foi 95.83%

Usando a biblioteca para separar treino e teste

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25) #Separação aleatória
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))
#print(treino_x.shape)
#print(teste_x.shape)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % taxa_de_acerto)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [37]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [38]:
teste_y.value_counts() #As proporções de treino e teste estão desbalanceadas

0    19
1     6
Name: comprou, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify=y) #Separação aleatória
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))
#print(treino_x.shape)
#print(teste_x.shape)

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % taxa_de_acerto)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [40]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [41]:
teste_y.value_counts() #Stratify mantém as proporções

0    17
1     8
Name: comprou, dtype: int64